<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prise de medoc et alimentation</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

   <!-- ... Previous content ... -->

    <label for="heure_debut_palpitations">Start Time of Palpitations:</label>
    <input type="time" name="heure_debut_palpitations" id="heure_debut_palpitations" value="00:00"><br><br>

    <label for="heure_debut_douleurs_thoracique">Start Time of Thoracic Pain:</label>
    <input type="time" name="heure_debut_douleurs_thoracique" id="heure_debut_douleurs_thoracique" value="00:00"><br><br>

    <label for="heure_debut_malaises">Start Time of Malaises:</label>
    <input type="time" name="heure_debut_malaises" id="heure_debut_malaises" value="00:00"><br><br>

    <button type="submit" name="action" value="precedent">Précédent</button>
    <button type="submit" name="action" value="suivant">Suivant</button>

</form>