{% extends 'base2.html' %}


{% block content %}
<p>Médecin: {{ rapport.medecin_patient.idMedecin.username }}</p>
<p>Patient: {{ rapport.medecin_patient.idPatient.username }}</p>
<p>Date du rapport: {{ rapport.rapport.date_saisie|date:"d/m/Y H:i"}}</p>

<div class="container mt-3">
    <!-- Onglets de navigation -->
    <ul class="nav nav-tabs" id="rapportTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#symptomes">Symptômes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#cardiaque">Info cardiaque</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#medoc">Prise médoc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#Alimentation">Alimentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#physique">Activite physique</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#médicales">Informations medicales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#autres_symptomes">Autres symptomes</a>
        </li>

        <!-- Plus d'onglets si nécessaire -->
    </ul>
     <!-- Panneaux des onglets -->
     <div class="tab-content">
        <div id="symptomes" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Symptôme d'irritabilité</td>
                  <td>{{ rapport.rapport.symptome.get_irratibilite_display }}</td>
                </tr>
                <tr>
                  <td>Sentiment dépressif</td>
                  <td>{{ rapport.rapport.symptome.get_sentiment_depressif_display }}</td>
                </tr>   
                <tr>
                  <td>Bouche ou gorge sèche</td>
                  <td>{{ rapport.rapport.symptome.get_bouche_gorge_seche_display }}</td>
                </tr>
                <tr>
                  <td>Actions ou gestes impulsifs</td>
                  <td>{{ rapport.rapport.symptome.get_grincement_dents_display }}</td>
                </tr>
                <tr>
                  <td>Grincement des dents</td>
                  <td>{{ rapport.rapport.symptome.get_difficulte_a_rester_assis_display }}</td>
                </tr>
                <tr>
                  <td>Difficulté à rester assis</td>
                  <td>{{ rapport.rapport.symptome.get_difficulte_a_rester_assis_display }}</td>
                </tr>
                <tr>
                  <td>Cauchemars</td>
                  <td>{{ rapport.rapport.symptome.get_cauchemars_display }}</td>
                </tr>
                <tr>
                  <td>Diarrhée</td>
                  <td>{{ rapport.rapport.symptome.get_diarrhee_display }}</td>
                </tr>
                <tr>
                  <td>Attaques verbales envers quelqu'un</td>
                  <td>{{ rapport.rapport.symptome.get_attaques_verbales_envers_qq1_display }}</td>
                </tr>
                <tr>
                  <td>Hauts et bas émotionnels</td>
                  <td>{{ rapport.rapport.symptome.get_haut_bas_emotifs_display }}</td>
                </tr>
                <tr>
                  <td>Grande envie de pleurer</td>
                  <td>{{ rapport.rapport.symptome.get_grande_envie_pleurer_display }}</td>
                </tr>
            </table>  

            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}

        </div>
        <!-- Plus de panneaux de contenu si nécessaire -->
    
        <div id="general" class="container tab-pane active">
            <table>
                <tr>
                    <td>Poids</td>
                    <td> {{ rapport.rapport.formulaire.general.poids }} kg</td>
                </tr>
                <tr>
                    <td>Tour de taille</td>
                    <td>{{ rapport.rapport.formulaire.general.tour_2_taille }} cm</td>
                </tr>
            </table>
            <!-- Plus de contenu... --> 
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}
        </div>

        <div id="cardiaque" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Fréquence cardiaque</td>
                  <td>{{ rapport.rapport.formulaire.info_cardiaque.frquence_cardiaque }} bpm</td>
                </tr>
                <tr>
                  <td>Tension systolique le matin</td>
                  <td>{{ rapport.rapport.formulaire.info_cardiaque.tension_systolique_matin }} mmHg</td>
                </tr>
                <tr>
                  <td>Tension systolique le soir</td>
                  <td>{{ rapport.rapport.formulaire.info_cardiaque.tension_systolique_soir }} mmHg</td>
                </tr>
                <tr>
                  <td>Tension diastolique le matin</td>
                  <td>{{ rapport.rapport.formulaire.info_cardiaque.tension_diastolique_matin }} mmHg</td>
                </tr>
                <tr>
                  <td>Tension diastolique le soir</td>
                  <td>{{ rapport.rapport.formulaire.info_cardiaque.tension_diastolique_soir }} mmHg</td>
                </tr>
                <tr>
                  <td>Description cardiaque</td>
                  <td>{{ rapport.rapport.formulaire.info_cardiaque.description }}</td>
                </tr>
            </table>   
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}      
        </div>

        <div id="medoc" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Nombre de médicaments pris par jour</td>
                  <td>{{ rapport.rapport.formulaire.prise_medoc.nombre_medoc_pris_jr }}</td>
                </tr>
                <tr>
                  <td>Oubli de prise de médicament le matin</td>
                  <td>{{ rapport.rapport.formulaire.prise_medoc.oublie_prise_medoc_matin|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Oubli de prise de médicament le soir</td>
                  <td>{{ rapport.rapport.formulaire.prise_medoc.oublie_prise_medoc_soir|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Effets secondaires remarqués</td>
                  <td>{{ rapport.rapport.formulair.prise_medoc.effet_secondaires_remarques|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Symptômes particuliers remarqués</td>
                  <td>{{ rapport.rapport.formulaire.prise_medoc.symptomes_particuliers_remarques|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Description des médicaments</td>
                  <td>{{ rapport.rapport.formulaire.prise_medoc.description }}</td>
                </tr>
            </table>
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}
              
        </div>

        <div id="Alimentation" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Consommation d'alcool</td>
                  <td>{{ rapport.rapport.formulaire.alimentation.conso_alcool|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Grignotage sucré</td>
                  <td>{{ rapport.rapport.formulaire.alimentation.grignotage_sucre|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Grignotage salé</td>
                  <td>{{ rapport.rapport.formulaire.alimentation.grignotage_sale|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Nombre de repas durant la journée</td>
                  <td>{{ rapport.rapport.formulaire.alimentation.nombre_repas_durant_jr }}</td>
                </tr>
                <tr>
                  <td>Quantité d'eau bue</td>
                  <td>{{ rapport.rapport.formulaire.alimentation.quantite_eau_bu }} litres</td>
                </tr>
                <tr>
                  <td>Quantité d'alcool bue</td>
                  <td>{{ rapport.rapport.formulaire.alimentation.quantite_alcool_bu }} unités</td>
                </tr>
            </table>
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}  
        </div>

        <div id="physique" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Présence de dyspnée</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.presence_dyspnee|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Présence d'œdème</td>
                  <td>{{ rapport.rapport.formulaire_autres.symptomes.presence_oedeme|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Présence d'épisode infectieux</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.presence_episode_intectieux|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Présence de fièvre</td>
                  <td>{{ rapport.rapport.formulaire_autres.symptomes.presence_fievre|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Présence de palpitations</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.presence_palpitation|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Présence de douleur thoracique</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.presence_douleur_thoracique|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Présence de malaise</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.presence_malaise|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Heure de début des palpitations</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.heure_debut_palpitations }}</td>
                </tr>
                <tr>
                  <td>Durée totale des palpitations</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.duree_total_palpitations }}</td>
                </tr>
                <tr>
                  <td>Heure de début des douleurs thoraciques</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.heure_debut_douleurs_thoracique }}</td>
                </tr>
                <tr>
                  <td>Durée totale des douleurs thoraciques</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.duree_total_douleurs_thoracique }}</td>
                </tr>
                <tr>
                  <td>Heure de début des malaises</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.heure_debut_malaises }}</td>
                </tr>
                <tr>
                  <td>Durée totale des malaises</td>
                  <td>{{ rapport.rapport.formulaire.autres_symptomes.duree_total_malaises }}</td>
                </tr>
            </table>
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}  
        </div>

        <div id="médicales" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Activité physique effectuée</td>
                  <td>{{ rapport.rapport.formulaire.activite_phisique.a_eu_activite_physique|yesno:"Oui,Non" }}</td>
                </tr>
                <tr>
                  <td>Durée de l'activité physique</td>
                  <td>{{ rapport.rapport.formulaire.activite_phisique.duree_activite_physique }} minutes</td>
                </tr>
                <tr>
                  <td>Description de l'activité physique</td>
                  <td>{{ rapport.rapport.formulaire.activite_phisique.description }}</td>
                </tr>
            </table>
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}  
        </div>

        <div id="autres_symptomes" class="container tab-pane fade">
            <table>
                <tr>
                  <td>Valeur de la natrémie</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.valeur_natremie }} mmol/L</td>
                </tr>
                <tr>
                  <td>Valeur du potassium</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.valeur_potatium }} mmol/L</td>
                </tr>
                <tr>
                  <td>Valeur de la créatinine</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.valeur_creatinine }} µmol/L</td>
                </tr>
                <tr>
                  <td>Valeur de la clairance de la créatinine</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.valeur_clairance_creatinine }} mL/min</td>
                </tr>
                <tr>
                  <td>Taux de NT-proBNP</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_nt_probnp }} pg/mL</td>
                </tr>
                <tr>
                  <td>Taux de fer sérique</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_fer_serique }} µg/dL</td>
                </tr>
                <tr>
                  <td>Taux d'hémoglobine</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_hemoglobine }} g/dL</td>
                </tr>
                <tr>
                  <td>Vitesse de sédimentation</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.valeur_vitesse_sedimentation }} mm/h</td>
                </tr>
                <tr>
                  <td>Taux de protéine C réactive</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_proteine_c }} mg/L</td>
                </tr>
                <tr>
                  <td>Taux de troponine</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_troponine }} ng/mL</td>
                </tr>
                <tr>
                  <td>Taux de vitamine D</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_vitamine_d }} ng/mL</td>
                </tr>
                <tr>
                  <td>Taux d'acide urique</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_acide_urique }} mg/dL</td>
                </tr>
                <tr>
                  <td>Taux d'INR</td>
                  <td>{{ rapport.rapport.formulaire.infos_medicales.taux_inr }}</td>
                </tr>
            </table>
            {% if is_medecin %}
                <!-- Code HTML pour le commutateur de modification -->
                <button>Modifier le rapport</button>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // Assurez-vous que jQuery est chargé avant d'utiliser ce script
    $(document).ready(function(){
        // Initialise les onglets
        $('.nav-tabs a').click(function(){
            $(this).tab('show');
        });

        // Active le premier onglet à chaque chargement de page
        $('.nav-tabs a:first').tab('show');
    });
</script>

<!-- Autres détails que vous souhaitez afficher -->
{% endblock %}